
*{box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    margin:0;
    box-shadow: rgba(24, 44, 70, 0.5) -25px 0px 25px -25px inset;
    padding: 0;
    box-sizing:border-box;
    max-width: 100% !important;
}

.header-menu{
    display: flex;
    height: 25px;
    background-color:white;
    box-sizing:content-box;
    justify-content:flex-end;
    align-items: center;
    margin:70px;
    margin-top: 0%;
    margin-left:0%;
    margin-right: 0%;
    text-align:right;
    text-orientation: sideways-right;
    cursor: pointer;
    box-shadow: 0 0 40px 0 rgba(88, 88, 94, 0.25);
    padding: 20px;
}

nav a{
    font-weight: 600px;
    padding-right: 10px;
}

nav a:hover{
    color:rgb(241, 99, 211)
}

.header-button{
    border-radius: 22px;
    background-color: rgb(241, 99, 211);
    color: aliceblue;
    padding-left: 10px;
    padding: 15px;
    cursor: pointer;
    border: none;
    text-align: center;
}

nav button:hover{
    color: rgb(82, 8, 88);
}

@media (max-width: 600px){
    header{
        display: none;
    }
}

.padre{
    display: block;
    block-size: auto;
    background-color: white;
    box-sizing: border-box;
    font-style: normal;
    color: rgb(6, 51, 65);
    padding-left: 5px;
    margin-left: 100px;
    margin-right: 10px;
    padding: 70px;
    padding-top: -5%;
}

.padre h2{
    font-size: 38px;
    margin: -15px;
}
.padre h1{
    font-size: 58px;
    color: rgb(214, 91, 187);
}

.hijo1 p{
    font-size: 20px;
    color:rgb(66, 64, 64)
}

.button2{
    font-size: 18px;
    color:rgb(41, 39, 39);
    border-radius: 35px;
    background-color: rgb(241, 99, 211);
    color: aliceblue;
    padding-left: 10px;
    padding: 15px;
    cursor: pointer;
    border: none;
    text-align: center;
    margin: 10px;
    margin-top: 50px;
}

.hijo1 .button2:hover{
    color: rgb(6, 48, 61);
}

.hijo2 .yo{
    display:flex;
    flex-direction: row;
    padding-left: 450px;
    padding-right: 200px;
    padding-top: -5%;
    margin-top: -35%;
    margin-left: 20%;
    width: 100%;
    box-sizing: border-box;
    border-bottom-right-radius: 35%;
    border-top-right-radius: 35%;
    border: 10px;
    border-color: rgb(199, 33, 177);
    box-shadow: darkslategrey;    
}

@media (min-width:300px) and (max-width: 1100px){
    .padre{
        max-width: 100%;
        flex-direction: column;
        display: flex;
        box-sizing: content-box;
        border: 2px;
        border-color: darkslategray;
        padding-left: -20px;
    }
    h1{
        display: flex;
        flex-direction: column;
    }
    .hijo1{
        display: flex;
        flex-direction: column;   
    }
    .hijo2 img{
        display: flex;
        float:inline-end;
        flex-direction: column;
    }
}

.conocimientos{
    display: inline-block;
    background-color: white;
    padding-top: 20%;
    box-shadow: darkslategray;
    flex-direction:row;
    box-sizing: border-box;
    margin-top: -2%;
}

.conocimientos h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 55px;
    color: rgb(6, 51, 65);
    margin: 20px;
    text-align:center;
    align-items: stretch;
    margin-top: -200px;
    font-style: italic;
}

.conocimientos p.frase{
    text-align: center;
    text-decoration: rgb(226, 43, 211);
    color: rgb(46, 44, 44);
    font-size: 25px;
    flex-direction:column;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0%;
    padding: 20px;
    justify-content: space-around;
}

.conocimientos .logos-conocimientos{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-content: center;
    text-align: center;
    padding: 30%;
    margin-top: -25%;
    width: 100%;
}
.column1{
    width: 100%;
    box-sizing: border-box;
    border: 4px;
    border-color: #9b1e65;
    border-radius: 15%;
}

.column2{
    width: 100%;
    box-sizing: border-box;
    border: 4px;
    border-color: #9b1e65;
    border-radius: 15%;
}


#icon{
   width: 100%;
   font-size: 120px;
}
.knowledge .fa-html5:hover{
    color: rgb(212, 38, 32);
}
.knowledge .fa-css3-alt:hover{
    color: rgb(6, 83, 197);
}
.knowledge .fa-sass:hover{
    color:palevioletred;
}
.knowledge .fa-square-js:hover{
    color: orangered;
}
.knowledge .fa-react:hover{
    color:aqua;
}
.knowledge .fa-git-alt:hover{
    color: rgb(196, 83, 42);
}

@media (max-width 1100px){
    .connocimientos{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 90%;
        padding-top: 5%;
    }
}


.reflexion-cita{
    display: block;
    margin: 0;
    margin-top: -18%;
    padding: 150px;
    color:black;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-content:center;
    background-image: url("imagenes.p/tapiz.png");
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}

.reflexion .comillas{
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 10%;
    flex-wrap: wrap;
    box-sizing: border-box;
    box-shadow: #53223e;
    margin-left: 40%;
}
.reflexion p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 40px;
    text-align: left;
}

@media (max-width 1000px){
    .reflexion-cita{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.proy{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    box-shadow: darkslategray;
    width: 100%;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-top: 5%;
}

.proy h2{
    font-size:xx-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #9b1e65;
}

.caja-proy .proy p{
    font-size: 25px;
    color: rgb(26, 25, 25); 
    font-style: italic;   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    align-content: center;   
}

.proyectos-img1{
    display: flex;
    flex-direction: row;
    align-items:center;
    align-content:center;
    text-align: center;
    padding: 10%;
    margin-top: -8%;
}
.proyectos-img1 p:hover{
    color: rgb(20, 138, 138);
}

.proyectos-img2{
    display: flex;
    flex-direction: row;
    align-items:center;
    align-content:center;
    text-align:center;
    padding: 20%;
    margin-top: -30%;
}
.proyectos-img2 p:hover{
    color:  rgb(20, 138, 138);
}
.cards-i .tarjeta{
    width: 60%;
}

.cards p{
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #d84899;    
}

@media (min-width 100px) and (max-width 1100px){
    .caja-proy{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
}

.bloque-contacto{
    background-image:url("imagenes/tapiz.png");
    image-orientation:from-image;
    background-size:cover;
    background-position: center;
    display: block;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: #c3e3b0;
    text-align: center;
    align-items: center;
    align-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    margin: 0%;
    margin-top: -10%;
}
.contacto .contactame-frase{
    display: block;
    flex-direction: column;
    background-color: none;
    box-sizing: border-box;
    justify-items: flex-start;
    align-items: center;
    text-align: center;
    justify-content: center;
   
}
.contactame-frase h1{
    color: rgb(66, 5, 63);
    font-size: 70px;
    font-style: italic;
    font-weight: bolder;
}
.contactame-frase p{
    color: black;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    margin-top: -2%;
}
#contact-container{
    display: block;
    flex-direction: column;
    background-color: none;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
    box-sizing: border-box;
    border-radius: 10%;
}

.box1{
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    justify-items: left;
    width: 40%;
}
.box1 h2{
    color: rgb(5, 71, 71);
    font-size: 50px;
    font-style:normal;
    font-weight: bolder;
}
.box1 p{
    color: black;
    font-size: 22px;
    font-weight: normal;
    margin-top: -7%;
}
.links .link-contacto{
    font-size: 22px;
    text-decoration-color: aqua;
    font-weight: bold;
    text-align: center;
    padding: 7px;
}
.formulario{
    display: block;
    flex-direction: column;
    background-color: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: -25%;
    box-sizing: border-box;
    border-radius: 10%;
    justify-items: right;
    margin-left: 40%;
    padding: 2%;
}
.formulario h1{
    color: rgb(5, 71, 71);
    font-size: 50px;
    font-style:normal;
    font-weight: bolder; 
    padding-right: 45%;
    margin-left: 12%;
}
.datos-form{
    flex-direction:column;
    display: flex;
    text-align: left;
    background-color: none;
    padding-right: 45%;
    margin-left: 12%;
}

.datos-form p{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    justify-content: left;
    justify-items: left;
}
input, textarea{
    display: block;
    width: 100%;
    border-radius: 5%;
    border-style: solid;
    border-color: #9b1e65;
    box-shadow: #53223e;
}

.enviar{
    display: flex;
    box-sizing: border-box;
    border-radius: 20%;
    align-content: center;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    width: 40%;
    align-items: center;
    background-color: #d84899;
    color: white;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.enviar:hover{
    color: rgb(11, 129, 150);
}

@media (min-width 100px) and (max-width 900){
    .bloque-contacto{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        align-content: center;
    }
}

footer{
    background-color: #d84899;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    text-align: center;
    margin-top: 0% ;
    width: 100%;
}
.footer .foot-navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
    list-style-type: none;
    align-content: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.foot-navbar, li a{
    font-size: 18px;
    color: white;
    width: 100%;
}
.foot-navbar, li a:hover{
    color: rgb(26, 167, 120)
}
.external-list, ul, li{
    display: flex;
    flex-direction: row;
    width: 60%;
    list-style: none;
    list-style-type: none;
    align-content: center;
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer p{
    color: white;
}

@media (max-width 1100px){
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
